@media (max-width: 1680px) {
	/* Header start */
	.header__logo {
		width: 910px;
		height: 385px;
		border: 18px solid var(--color-orange);
	}

	.header__logo-image {
		width: 525px;
		height: 233px;
		top: 72px;
		left: 186px;
	}

	.header__logo-circle-1 {
		left: 35px;
		top: 34px;
		width: 35px;
		height: 35px;
		background: var(--color-pink);
		border-radius: 50%;
	}
	
	.header__logo-circle-2 {
		left: 138px;
		top: 36px;
		width: 35px;
		height: 35px;
		background: var(--color-pink);
		border-radius: 50%;
	}
	
	.header__logo-circle-3 {
		left: 248px;
		top: 24px;
		width: 35px;
		height: 35px;
		background: var(--color-pink);
		border-radius: 50%;
	}
	
	.header__logo-circle-4 {
		left: 349px;
		top: 26px;
		width: 35px;
		height: 35px;
		background: var(--color-pink);
		border-radius: 50%;
	}
	
	.header__logo-circle-5 {
		left: 459px;
		top: 27px;
		width: 35px;
		height: 35px;
		background: var(--color-pink);
		border-radius: 50%;
	}
	
	.header__logo-circle-6 {
		left: 567px;
		top: 36px;
		width: 35px;
		height: 35px;
		background: var(--color-pink);
		border-radius: 50%;
	}
	
	.header__logo-circle-7 {
		left: 680px;
		top: 27px;
		width: 35px;
		height: 35px;
		background: var(--color-pink);
		border-radius: 50%;
	}
	
	.header__logo-circle-8 {
		left: 784px;
		top: 34px;
		width: 35px;
		height: 35px;
		background: var(--color-pink);
		border-radius: 50%;
	}

	.header__paw {
		width: 385px;
		height: 385px;
		border: 18px solid var(--color-blue);
	}

	.header__paw-image {
		width: 268px;
		height: 228px;
		top: 69px;
		left: 44px;
	}

	.header__tail {
		width: 385px;
		height: 385px;
		border: 18px solid var(--color-green);
	}

	.header__tail-image {
		width: 178px;
		height: 273px;
		top: 38px;
		left: 94px;
	}
	/* Header end */
	
	/* Main start */
	.row-1__lang-border {
		width: 385px;
		height: 770px;
		border: 18px solid var(--color-blue);
	}

	.row-1__lang-text {
		top: 290px;
		left: -8px;
	}

	.row-1__dog-border {
		border: 18px solid var(--color-purple);
		width: 910px;
		height: 770px;
	}

	.row-1__dog-nose {
		width: 96px;
		height: 82px;
		left: 152px;
		top: 383px;
	}
	
	.row-1__dog-head {
		width: 180px;
		height: 178px;
		top: 287px;
		left: 248px;
	}
	
	.row-1__dog-ear {
		width: 55px;
		height: 82px;
		top: 205px;
		left: 373px;
	}
	
	.row-1__dog-eye {
		width: 35px;
		height: 60px;
		top: 324px;
		left: 306px;
	}
	
	.row-1__dog-body {
		width: 292px;
		height: 154px;
		top: 380px;
		left: 428px;
	}
	
	.row-1__dog-tail {
		width: 40px;
		height: 324px;
		top: 117px;
		left: 720px;
	}
	
	.row-1__dog-front-paw {
		width: 44px;
		height: 136px;
		top: 532px;
		left: 428px;
	}
	
	.row-1__dog-hind-paw {
		width: 44px;
		height: 136px;
		top: 532px;
		left: 676px;
	}

	.row-1__study-border {
		width: 385px;
		height: 770px;
		border: 18px solid var(--color-orange);
	}

	.row-1__study-text {
		top: 290px;
		right: -96px;
	}

	.row-2__bone {
		width: 420px;
		height: 385px;
		border: 18px solid var(--color-green);
	}
	
	.row-2__bone-image {
		width: 245px;
		height: 245px;
		top: 52px;
		left: 70px;
	}
	
	.row-2__translate {
		width: 420px;
		height: 385px;
		border: 18px solid var(--color-pink);
	}
	
	.row-2__translate-image {
		width: 184px;
		height: 241px;
		top: 54px;
		left: 100px;
	}
	
	.row-2__tongue {
		width: 420px;
		height: 385px;
		border: 18px solid var(--color-blue);
	}
	
	.row-2__tongue-image {
		width: 286px;
		height: 132px;
		top: 110px;
		left: 49px;
	}
	
	.row-2__dog {
		width: 420px;
		height: 385px;
		border: 18px solid var(--color-pink);
	}
	
	.row-2__dog-image {
		width: 245px;
		height: 233px;
		top: 58px;
		left: 70px;
	}

	.row-3__study-border {
		width: 385px;
		height: 770px;
		border: 18px solid var(--color-orange);
	}
	
	.row-3__study-text {
		top: 290px;
		right: -96px;
	}
	
	.row-3__elements-border {
		width: 525px;
		height: 770px;
		border: 18px solid var(--color-green);
	}
	
	.row-3__elements-dots {
		width: 80px;
		height: 320px;
		top: 40px;
		left: 200px;
		transform: rotate(-90deg);
	}
	
	.row-3__elements-semicircle {
		width: 96px;
		height: 302px;
		top: 360px;
		left: 200px;
	}
	
	.lang-top_i-border {
		width: 385px;
		height: 385px;
		border: 18px solid var(--color-blue);
	}
	
	.lang-top_i-text {
		font-weight: 400;
		font-size: 350px;
		line-height: 305px;
		top: 32px;
		left: 64px;
	}
	
	.lang-top_z-border {
		width: 385px;
		height: 385px;
		border: 18px solid var(--color-purple);
	}
	
	.lang-top_z-text {
		font-weight: 400;
		font-size: 350px;
		line-height: 305px;
		top: 32px;
		left: 72px;;
	}
	
	.lang-bottom_s-border {
		width: 385px;
		height: 385px;
		border: 18px solid var(--color-blue);
	}
	
	.lang-bottom_s-text {
		font-weight: 400;
		font-size: 350px;
		line-height: 305px;
		top: 32px;
		left: 32px;
	}
	
	.lang-bottom_k-border {
		width: 385px;
		height: 385px;
		border: 18px solid var(--color-orange);
	}
	
	.lang-bottom_k-text {
		font-weight: 400;
		font-size: 350px;
		line-height: 305px;
		top: 32px;
		left: 64px;
	}

	.row-4__dots-border {
		width: 385px;
		height: 385px;
		border: 18px solid var(--color-pink);
	}
	
	.row-4__dots-image {
		width: 56px;
		height: 232px;
		top: 68px;
		left: 148px;
	}
	
	.row-4__semicircle {
		width: 385px;
		height: 385px;
		border: 18px solid var(--color-blue);
	}
	
	.row-4__semicircle-image {
		width: 86px;
		height: 248px;
		top: 60px;
		left: 132px;
	}
	
	.row-4__question-border {
		width: 910px;
		height: 385px;
		border: 18px solid var(--color-purple);
	}
	
	.row-4__question-text {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding-top: 38px;
		padding-left: 44px;
	}
	
	.row-4__question-button {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
		padding-left: 432px;
	}
	
	.row-4__question-button-line {
		width: 328px;
		border-bottom: 8px solid var(--color-blue);
	}

	.row-5__left {
		width: 840px;
		height: 770px;
		border: 18px solid var(--color-green);
	}
	
	.row-5__left-head {
		width: 432px;
		height: 432px;
		top: 151px;
		left: 186px;
	} 
	
	.row-5__left-mouth {
		width: 124px;
		height: 52px; 
		top: 440px;
		left: 344px;
	}
	
	.row-5__left-nose {
		border-left: 28px solid transparent;
		border-right: 28px solid transparent;
		border-bottom: 48px solid var(--color-pink);
		top: 348px;
		left: 380px;
	}
	
	.row-5__left-eye-left {
		width: 108px;
		height: 44px; 
		top: 292px;
		left: 252px;
	}
	
	.row-5__left-eye-right {
		width: 108px;
		height: 44px;  
		top: 292px;
		right: 252px;
	}
	
	.row-5__righ {
		width: 840px;
		height: 770px;
		border: 18px solid var(--color-blue);
	}
	
	.row-5__right-head {
		width: 432px;
		height: 432px;
		top: 151px;
		left: 186px;
	} 
	
	.row-5__right-mouth {
		width: 124px;
		height: 52px; 
		top: 440px;
		left: 344px;
	}
	
	.row-5__right-nose {
		width: 48px; 
		height: 48px;
		top: 356px;
		left: 380px;
	}
	
	.row-5__right-eye-left {
		width: 108px;
		height: 44px; 
		top: 292px;
		left: 252px;
	}
	
	.row-5__right-eye-right {
		width: 108px;
		height: 44px;  
		top: 292px;
		right: 252px;
	}
	/* Main end */

	/* Footer start */
	.footer__about {
		width: 420px;
		height: 385px;
		border: 28px solid var(--color-purple);
	}
	
	.footer__about-text {
		font-weight: 700;
		font-size: 52px;
		line-height: 61px;
		padding-top: 144px;
		padding-left: 38px;
	}
	
	.footer__author {
		width: 420px;
		height: 385px;
		border: 18px solid var(--color-orange);
	}
	
	.footer__author-text {
		font-weight: 700;
		font-size: 52px;
		line-height: 61px;
		padding-top: 116px;
		padding-left: 38px;
	}
	
	.footer__group {
		width: 420px;
		height: 385px;
		border: 18px solid var(--color-pink);
	}
	
	.footer__group-text {
		font-weight: 700;
		font-size: 52px;
		line-height: 61px;
		padding-top: 145px;
		padding-left: 38px;
	}
	
	.footer__inst {
		width: 420px;
		height: 385px;
		border: 18px solid var(--color-green);
	}
	
	.footer__inst-text {
		font-weight: 700;
		font-size: 52px;
		line-height: 61px;
		padding-top: 85px;
		padding-left: 38px;
	}
	/* Footer end */
}

@media (max-width: 1440px) {
	
}
