@media (max-width: 1680px) {
	/* Header start */
	.header__logo {
		width: 910px;
		height: 385px;
		border: 18px solid var(--color-orange);
	}

	.header__logo-image {
		width: 525px;
		height: 233px;
		top: 72px;
		left: 186px;
	}

	.header__logo-circle-1 {
		left: 35px;
		top: 34px;
		width: 35px;
		height: 35px;
		background: var(--color-pink);
		border-radius: 50%;
	}
	
	.header__logo-circle-2 {
		left: 138px;
		top: 36px;
		width: 35px;
		height: 35px;
		background: var(--color-pink);
		border-radius: 50%;
	}
	
	.header__logo-circle-3 {
		left: 248px;
		top: 24px;
		width: 35px;
		height: 35px;
		background: var(--color-pink);
		border-radius: 50%;
	}
	
	.header__logo-circle-4 {
		left: 349px;
		top: 26px;
		width: 35px;
		height: 35px;
		background: var(--color-pink);
		border-radius: 50%;
	}
	
	.header__logo-circle-5 {
		left: 459px;
		top: 27px;
		width: 35px;
		height: 35px;
		background: var(--color-pink);
		border-radius: 50%;
	}
	
	.header__logo-circle-6 {
		left: 567px;
		top: 36px;
		width: 35px;
		height: 35px;
		background: var(--color-pink);
		border-radius: 50%;
	}
	
	.header__logo-circle-7 {
		left: 680px;
		top: 27px;
		width: 35px;
		height: 35px;
		background: var(--color-pink);
		border-radius: 50%;
	}
	
	.header__logo-circle-8 {
		left: 784px;
		top: 34px;
		width: 35px;
		height: 35px;
		background: var(--color-pink);
		border-radius: 50%;
	}

	.header__paw {
		width: 385px;
		height: 385px;
		border: 18px solid var(--color-blue);
	}

	.header__paw-image {
		width: 268px;
		height: 228px;
		top: 69px;
		left: 44px;
	}

	.header__tail {
		width: 385px;
		height: 385px;
		border: 18px solid var(--color-green);
	}

	.header__tail-image {
		width: 178px;
		height: 273px;
		top: 38px;
		left: 94px;
	}
	/* Header end */
	
	/* Main start */
	.row-1__lang-border {
		width: 385px;
		height: 770px;
		border: 18px solid var(--color-blue);
	}

	.row-1__lang-text {
		top: 290px;
		left: -8px;
	}

	.row-1__dog-border {
		border: 18px solid var(--color-purple);
		width: 910px;
		height: 770px;
	}

	.row-1__dog-nose {
		width: 96px;
		height: 82px;
		left: 152px;
		top: 383px;
	}
	
	.row-1__dog-head {
		width: 180px;
		height: 178px;
		top: 287px;
		left: 248px;
	}
	
	.row-1__dog-ear {
		width: 55px;
		height: 82px;
		top: 205px;
		left: 373px;
	}
	
	.row-1__dog-eye {
		width: 35px;
		height: 60px;
		top: 324px;
		left: 306px;
	}
	
	.row-1__dog-body {
		width: 292px;
		height: 154px;
		top: 380px;
		left: 428px;
	}
	
	.row-1__dog-tail {
		width: 40px;
		height: 324px;
		top: 117px;
		left: 720px;
	}
	
	.row-1__dog-front-paw {
		width: 44px;
		height: 136px;
		top: 532px;
		left: 428px;
	}
	
	.row-1__dog-hind-paw {
		width: 44px;
		height: 136px;
		top: 532px;
		left: 676px;
	}

	.row-1__study-border {
		width: 385px;
		height: 770px;
		border: 18px solid var(--color-orange);
	}

	.row-1__study-text {
		top: 290px;
		right: -96px;
	}

	.row-2__bone {
		width: 420px;
		height: 385px;
		border: 18px solid var(--color-green);
	}
	
	.row-2__bone-image {
		width: 245px;
		height: 245px;
		top: 52px;
		left: 70px;
	}
	
	.row-2__translate {
		width: 420px;
		height: 385px;
		border: 18px solid var(--color-pink);
	}
	
	.row-2__translate-image {
		width: 184px;
		height: 241px;
		top: 54px;
		left: 100px;
	}
	
	.row-2__tongue {
		width: 420px;
		height: 385px;
		border: 18px solid var(--color-blue);
	}
	
	.row-2__tongue-image {
		width: 286px;
		height: 132px;
		top: 110px;
		left: 49px;
	}
	
	.row-2__dog {
		width: 420px;
		height: 385px;
		border: 18px solid var(--color-pink);
	}
	
	.row-2__dog-image {
		width: 245px;
		height: 233px;
		top: 58px;
		left: 70px;
	}

	.row-3__study-border {
		width: 385px;
		height: 770px;
		border: 18px solid var(--color-orange);
	}
	
	.row-3__study-text {
		top: 290px;
		right: -96px;
	}
	
	.row-3__elements-border {
		width: 525px;
		height: 770px;
		border: 18px solid var(--color-green);
	}
	
	.row-3__elements-dots {
		width: 80px;
		height: 320px;
		top: 40px;
		left: 200px;
		transform: rotate(-90deg);
	}
	
	.row-3__elements-semicircle {
		width: 96px;
		height: 302px;
		top: 360px;
		left: 200px;
	}
	
	.lang-top_i-border {
		width: 385px;
		height: 385px;
		border: 18px solid var(--color-blue);
	}
	
	.lang-top_i-text {
		font-weight: 400;
		font-size: 350px;
		line-height: 305px;
		top: 32px;
		left: 64px;
	}
	
	.lang-top_z-border {
		width: 385px;
		height: 385px;
		border: 18px solid var(--color-purple);
	}
	
	.lang-top_z-text {
		font-weight: 400;
		font-size: 350px;
		line-height: 305px;
		top: 32px;
		left: 72px;;
	}
	
	.lang-bottom_s-border {
		width: 385px;
		height: 385px;
		border: 18px solid var(--color-blue);
	}
	
	.lang-bottom_s-text {
		font-weight: 400;
		font-size: 350px;
		line-height: 305px;
		top: 32px;
		left: 32px;
	}
	
	.lang-bottom_k-border {
		width: 385px;
		height: 385px;
		border: 18px solid var(--color-orange);
	}
	
	.lang-bottom_k-text {
		font-weight: 400;
		font-size: 350px;
		line-height: 305px;
		top: 32px;
		left: 64px;
	}

	.row-4__dots-border {
		width: 385px;
		height: 385px;
		border: 18px solid var(--color-pink);
	}
	
	.row-4__dots-image {
		width: 56px;
		height: 232px;
		top: 68px;
		left: 148px;
	}
	
	.row-4__semicircle {
		width: 385px;
		height: 385px;
		border: 18px solid var(--color-blue);
	}
	
	.row-4__semicircle-image {
		width: 86px;
		height: 248px;
		top: 60px;
		left: 132px;
	}
	
	.row-4__question-border {
		width: 910px;
		height: 385px;
		border: 18px solid var(--color-purple);
	}
	
	.row-4__question-text {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding-top: 38px;
		padding-left: 44px;
	}
	
	.row-4__question-button {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
		padding-left: 432px;
	}
	
	.row-4__question-button-line {
		width: 328px;
		border-bottom: 8px solid var(--color-blue);
	}

	.row-5__left {
		width: 840px;
		height: 770px;
		border: 18px solid var(--color-green);
	}
	
	.row-5__left-head {
		width: 432px;
		height: 432px;
		top: 151px;
		left: 186px;
	} 
	
	.row-5__left-mouth {
		width: 124px;
		height: 52px; 
		top: 440px;
		left: 344px;
	}
	
	.row-5__left-nose {
		border-left: 28px solid transparent;
		border-right: 28px solid transparent;
		border-bottom: 48px solid var(--color-pink);
		top: 348px;
		left: 380px;
	}
	
	.row-5__left-eye-left {
		width: 108px;
		height: 44px; 
		top: 292px;
		left: 252px;
	}
	
	.row-5__left-eye-right {
		width: 108px;
		height: 44px;  
		top: 292px;
		right: 252px;
	}
	
	.row-5__righ {
		width: 840px;
		height: 770px;
		border: 18px solid var(--color-blue);
	}
	
	.row-5__right-head {
		width: 432px;
		height: 432px;
		top: 151px;
		left: 186px;
	} 
	
	.row-5__right-mouth {
		width: 124px;
		height: 52px; 
		top: 440px;
		left: 344px;
	}
	
	.row-5__right-nose {
		width: 48px; 
		height: 48px;
		top: 356px;
		left: 380px;
	}
	
	.row-5__right-eye-left {
		width: 108px;
		height: 44px; 
		top: 292px;
		left: 252px;
	}
	
	.row-5__right-eye-right {
		width: 108px;
		height: 44px;  
		top: 292px;
		right: 252px;
	}
	/* Main end */

	/* Footer start */
	.footer__about {
		width: 420px;
		height: 385px;
		border: 28px solid var(--color-purple);
	}
	
	.footer__about-text {
		font-weight: 700;
		font-size: 52px;
		line-height: 61px;
		padding-top: 144px;
		padding-left: 38px;
	}
	
	.footer__author {
		width: 420px;
		height: 385px;
		border: 18px solid var(--color-orange);
	}
	
	.footer__author-text {
		font-weight: 700;
		font-size: 52px;
		line-height: 61px;
		padding-top: 116px;
		padding-left: 38px;
	}
	
	.footer__group {
		width: 420px;
		height: 385px;
		border: 18px solid var(--color-pink);
	}
	
	.footer__group-text {
		font-weight: 700;
		font-size: 52px;
		line-height: 61px;
		padding-top: 145px;
		padding-left: 38px;
	}
	
	.footer__inst {
		width: 420px;
		height: 385px;
		border: 18px solid var(--color-green);
	}
	
	.footer__inst-text {
		font-weight: 700;
		font-size: 52px;
		line-height: 61px;
		padding-top: 85px;
		padding-left: 38px;
	}
	/* Footer end */
}

@media (max-width: 1440px) {
	/* Header start */
	.header__logo {
		width: 780px;
		height: 330px;
		border: 16px solid var(--color-orange);
	}

	.header__logo-image {
		width: 450px;
		height: 200px;
		top: 68px;
		left: 180px;
	}

	.header__logo-circle-1 {
		left: 28px;
		top: 28px;
		width: 30px;
		height: 30px;
	}
	
	.header__logo-circle-2 {
		left: 116px;
		top: 30px;
		width: 30px;
		height: 30px;
	}
	
	.header__logo-circle-3 {
		left: 206px;
		top: 24px;
		width: 30px;
		height: 30px;
	}
	
	.header__logo-circle-4 {
		left: 298px;
		top: 22px;
		width: 30px;
		height: 30px;
	}
	
	.header__logo-circle-5 {
		left: 392px;
		top: 22px;
		width: 30px;
		height: 30px;
	}
	
	.header__logo-circle-6 {
		left: 485px;
		top: 30px;
		width: 30px;
		height: 30px;
	}
	
	.header__logo-circle-7 {
		left: 578px;
		top: 26px;
		width: 30px;
		height: 30px;
	}
	
	.header__logo-circle-8 {
		left: 670px;
		top: 28px;
		width: 30px;
		height: 30px;
	}

	.header__paw {
		width: 330px;
		height: 330px;
		border: 16px solid var(--color-blue);
	}

	.header__paw-image {
		width: 242px;
		height: 206px;
		top: 46px;
		left: 28px;
	}

	.header__tail {
		width: 330px;
		height: 330px;
		border: 16px solid var(--color-green);
	}

	.header__tail-image {
		width: 144px;
		height: 221px;
		top: 39px;
		left: 77px;
	}
	/* Header end */

	/* Main start */
	.row-1__lang-border {
		width: 330px;
		height: 660px;
		border: 16px solid var(--color-blue);
	}

	.row-1__lang-text {
		font-size: 128px;
		line-height: 144%;
		top: 232px;
		left: -28px;
	}

	.row-1__dog-border {
		border: 16px solid var(--color-purple);
		width: 780px;
		height: 660px;
	}

	.row-1__dog-nose {
		width: 86px;
		height: 74px;
		left: 117px;
		top: 318px;
	}
	
	.row-1__dog-head {
		width: 163px;
		height: 161px;
		top: 231px;
		left: 203px;
	}
	
	.row-1__dog-ear {
		width: 50px;
		height: 75px;
		top: 156px;
		left: 316px;
	}
	
	.row-1__dog-eye {
		width: 32px;
		height: 54px;
		top: 263px;
		left: 251px;
	}
	
	.row-1__dog-body {
		width: 265px;
		height: 140px;
		top: 315px;
		left: 366px;
	}
	
	.row-1__dog-tail {
		width: 38px;
		height: 296px;
		top: 76px;
		left: 631px;
	}
	
	.row-1__dog-front-paw {
		width: 40px;
		height: 128px;
		top: 455px;
		left: 366px;
	}
	
	.row-1__dog-hind-paw {
		width: 40px;
		height: 128px;
		top: 455px;
		left: 591px;
	}

	.row-1__study-border {
		width: 330px;
		height: 660px;
		border: 16px solid var(--color-orange);
	}

	.row-1__study-text {
		font-size: 128px;
		line-height: 144%;
		top: 220px;
		left: -80px;
	}

	.row-2__bone {
		width: 360px;
		height: 330px;
		border: 16px solid var(--color-green);
	}
	
	.row-2__bone-image {
		width: 210px;
		height: 210px;
		top: 44px;
		left: 59px;
	}
	
	.row-2__translate {
		width: 360px;
		height: 330px;
		border: 16px solid var(--color-pink);
	}
	
	.row-2__translate-image {
		width: 157px;
		height: 208px;
		top: 45px;
		left: 85px;
	}
	
	.row-2__tongue {
		width: 360px;
		height: 330px;
		border: 16px solid var(--color-blue);
	}
	
	.row-2__tongue-image {
		width: 245px;
		height: 113px;
		top: 93px;
		left: 41px;
	}
	
	.row-2__dog {
		width: 360px;
		height: 330px;
		border: 16px solid var(--color-pink);
	}
	
	.row-2__dog-image {
		width: 210px;
		height: 199px;
		top: 50px;
		left: 59px;
	}

	.row-3__study-border {
		width: 330px;
		height: 660px;
		border: 16px solid var(--color-orange);
	}
	
	.row-3__study-text {
		font-size: 128px;
		line-height: 149px;
		top: 240px;
		right: -96px;
	}
	
	.row-3__elements-border {
		width: 450px;
		height: 660px;
		border: 16px solid var(--color-green);
	}
	
	.row-3__elements-dots {
		width: 68px;
		height: 280px;
		top: 32px;
		left: 180px;
	}
	
	.row-3__elements-semicircle {
		width: 78px;
		height: 252px;
		top: 324px;
		left: 180px;
	}
	
	.lang-top_i-border {
		width: 330px;
		height: 330px;
		border: 16px solid var(--color-blue);
	}
	
	.lang-top_i-text {
		font-weight: 400;
		font-size: 300px;
		line-height: 250px;
		top: 32px;
		left: 64px;
	}
	
	.lang-top_z-border {
		width: 330px;
		height: 330px;
		border: 16px solid var(--color-purple);
	}
	
	.lang-top_z-text {
		font-weight: 400;
		font-size: 300px;
		line-height: 250px;
		top: 32px;
		left: 72px;;
	}
	
	.lang-bottom_s-border {
		width: 330px;
		height: 330px;
		border: 16px solid var(--color-blue);
	}
	
	.lang-bottom_s-text {
		font-weight: 400;
		font-size: 300px;
		line-height: 250px;
		top: 32px;
		left: 32px;
	}
	
	.lang-bottom_k-border {
		width: 330px;
		height: 330px;
		border: 16px solid var(--color-orange);
	}
	
	.lang-bottom_k-text {
		font-weight: 400;
		font-size: 300px;
		line-height: 250px;
		top: 32px;
		left: 64px;
	}

	.row-4__dots-border {
		width: 330px;
		height: 330px;
		border: 16px solid var(--color-pink);
	}
	
	.row-4__dots-image {
		width: 56px;
		height: 216px;
		top: 48px;
		left: 120px;
	}
	
	.row-4__semicircle {
		width: 330px;
		height: 330px;
		border: 16px solid var(--color-blue);
	}
	
	.row-4__semicircle-image {
		width: 64px;
		height: 196px;
		top: 48px;
		left: 120px;
	}
	
	.row-4__question-border {
		width: 780px;
		height: 330px;
		border: 16px solid var(--color-purple);
	}
	
	.row-4__question-text {
		gap: 12px;
		padding-top: 38px;
		padding-left: 48px;
	}

	.row-4__question-text-heading {
		font-size: 44px;
		line-height: 51px;
	}
	
	.row-4__question-text-question {
		font-size: 28px;
		line-height: 33px;
	}
	
	.row-4__question-button {
		gap: 16px;
		padding-left: 340px;
	}
	
	.row-4__question-button-line {
		width: 232px;
		border-bottom: 8px solid var(--color-blue);
	}

	.row-4__question-button-button {
		font-size: 28px;
		line-height: 33px;
		border-radius: 16px;
		padding: 14px 40px 14px 40px;
		width: 216px;
		height: 61px;
	}
	
	.row-5__left {
		width: 720px;
		height: 660px;
		border: 16px solid var(--color-green);
	}
	
	.row-5__left-head {
		width: 388px;
		height: 388px;
		top: 120px;
		left: 150px;
	} 
	
	.row-5__left-mouth {
		width: 116px;
		height: 44px; 
		top: 380px;
		left: 286px;
	}
	
	.row-5__left-nose {
		border-left: 24px solid transparent;
		border-right: 24px solid transparent;
		border-bottom: 40px solid var(--color-pink);
		top: 296px;
		left: 322px;
	}
	
	.row-5__left-eye-left {
		width: 96px;
		height: 38px; 
		top: 248px;
		left: 208px;
	}
	
	.row-5__left-eye-right {
		width: 96px;
		height: 38px; 
		top: 248px;
		right: 208px;
	}
	
	.row-5__righ {
		width: 720px;
		height: 660px;
		border: 16px solid var(--color-blue);
	}
	
	.row-5__right-head {
		width: 388px;
		height: 388px;
		top: 120px;
		left: 150px;
	} 
	
	.row-5__right-mouth {
		width: 116px;
		height: 44px; 
		top: 380px;
		left: 286px;
	}
	
	.row-5__right-nose {
		width: 44px; 
		height: 44px;
		top: 304px;
		left: 324px;
	}
	
	.row-5__right-eye-left {
		width: 96px;
		height: 38px; 
		top: 248px;
		left: 208px;
	}
	
	.row-5__right-eye-right {
		width: 96px;
		height: 38px; 
		top: 248px;
		right: 208px;
	}
	/* Main end */

	/* Footer start */
	.footer__about {
		width: 360px;
		height: 330px;
		border: 16px solid var(--color-purple);
	}

	.footer__about-text {
		font-size: 48px;
		line-height: 56px;
		padding-top: 121px;
		padding-left: 28px;
	}

	.footer__author {
		width: 360px;
		height: 330px;
		border: 16px solid var(--color-orange);
	}

	.footer__author-text {
		font-size: 48px;
		line-height: 56px;
		padding-top: 93px;
		padding-left: 28px;
	}

	.footer__group {
		width: 360px;
		height: 330px;
		border: 16px solid var(--color-pink);
	}

	.footer__group-text {
		font-size: 48px;
		line-height: 56px;
		padding-top: 123px;
		padding-left: 28px;
	}

	.footer__inst {
		width: 360px;
		height: 330px;
		border: 16px solid var(--color-green);
	}

	.footer__inst-text {
		font-size: 48px;
		line-height: 56px;
		padding-top: 64px;
		padding-left: 28px;
	}
	/* Footer end */
}

@media (max-width: 1366px) {
	/* Header start */
	.header__logo {
		width: 738px;
		height: 314px;
	}

	.header__logo-image {
		width: 425px;
		height: 189px;
		top: 68px;
		left: 162px;
	}

	.header__logo-circle-1 {
		left: 33px;
		top: 27px;
		width: 28px;
		height: 28px;
	}
	
	.header__logo-circle-2 {
		left: 113px;
		top: 28px;
		width: 28px;
		height: 28px;
	}
	
	.header__logo-circle-3 {
		left: 192px;
		top: 20px;
		width: 28px;
		height: 28px;
	}
	
	.header__logo-circle-4 {
		left: 280px;
		top: 22px;
		width: 28px;
		height: 28px;
	}
	
	.header__logo-circle-5 {
		left: 370px;
		top: 20px;
		width: 28px;
		height: 28px;
	}
	
	.header__logo-circle-6 {
		left: 457px;
		top: 28px;
		width: 28px;
		height: 28px;
	}
	
	.header__logo-circle-7 {
		left: 546px;
		top: 23px;
		width: 28px;
		height: 28px;
	}
	
	.header__logo-circle-8 {
		left: 634px;
		top: 26px;
		width: 28px;
		height: 28px;
	}

	.header__paw {
		width: 314px;
		height: 314px;
		border: 16px solid var(--color-blue);
	}

	.header__paw-image {
		width: 216px;
		height: 184px;
		top: 49px;
		left: 33px;
	}

	.header__tail {
		width: 314px;
		height: 314px;
		border: 16px solid var(--color-green);
	}

	.header__tail-image {
		width: 132px;
		height: 203px;
		top: 40px;
		left: 75px;
	}
	/* Header end */

	/* Main start */
	.row-1__lang-border {
		width: 313px;
		height: 628px;
		border: 16px solid var(--color-blue);
	}

	.row-1__lang-text {
		font-size: 118px;
		line-height: 138px;
		top: 240px;
		left: -12px;
	}

	.row-1__dog-border {
		border: 16px solid var(--color-purple);
		width: 740px;
		height: 628px;
	}

	.row-1__dog-nose {
		width: 77px;
		height: 65px;
		left: 107px;
		top: 311px;
	}
	
	.row-1__dog-head {
		width: 146px;
		height: 143px;
		top: 233px;
		left: 184px;
	}
	
	.row-1__dog-ear {
		width: 44px;
		height: 66px;
		top: 167px;
		left: 286px;
	}
	
	.row-1__dog-eye {
		width: 28px;
		height: 48px;
		top: 261px;
		left: 228px;
	}
	
	.row-1__dog-body {
		width: 236px;
		height: 124px;
		top: 308px;
		left: 330px;
	}
	
	.row-1__dog-tail {
		width: 32px;
		height: 262px;
		top: 96px;
		left: 566px;
	}
	
	.row-1__dog-front-paw {
		width: 34px;
		height: 114px;
		top: 432px;
		left: 330px;
	}
	
	.row-1__dog-hind-paw {
		width: 34px;
		height: 114px;
		top: 432px;
		left: 532px;
	}

	.row-1__study-border {
		width: 313px;
		height: 628px;
		border: 16px solid var(--color-orange);
	}

	.row-1__study-text {
		font-size: 118px;
		line-height: 138px;
		top: 220px;
		left: -80px;
	}

	.row-2__bone {
		width: 341px;
		height: 314px;
		border: 16px solid var(--color-green);
	}
	
	.row-2__bone-image {
		width: 200px;
		height: 200px;
		top: 41px;
		left: 55px;
	}
	
	.row-2__translate {
		width: 341px;
		height: 314px;
		border: 16px solid var(--color-pink);
	}
	
	.row-2__translate-image {
		width: 150px;
		height: 197px;
		top: 42px;
		left: 80px;
	}
	
	.row-2__tongue {
		width: 342px;
		height: 314px;
		border: 16px solid var(--color-blue);
	}
	
	.row-2__tongue-image {
		width: 232px;
		height: 108px;
		top: 87px;
		left: 39px;
	}
	
	.row-2__dog {
		width: 342px;
		height: 314px;
		border: 16px solid var(--color-pink);
	}
	
	.row-2__dog-image {
		width: 210px;
		height: 199px;
		top: 46px;
		left: 56px;
	}

	.row-3__study-border {
		width: 313px;
		height: 628px;
		border: 16px solid var(--color-orange);
	}
	
	.row-3__study-text {
		font-size: 118px;
		line-height: 138px;
		top: 240px;
		right: -86px;
	}
	
	.row-3__elements-border {
		width: 425px;
		height: 628px;
		border: 16px solid var(--color-green);
	}
	
	.row-3__elements-dots {
		width: 60px;
		height: 240px;
		top: 32px;
		left: 168px;
	}
	
	.row-3__elements-semicircle {
		width: 72px;
		height: 216px;
		top: 316px;
		left: 172px;
	}
	
	.lang-top_i-border {
		width: 314px;
		height: 314px;
		border: 16px solid var(--color-blue);
	}
	
	.lang-top_i-text {
		font-size: 280px;
		line-height: 170px;
		top: 64px;
		left: 48px;
	}
	
	.lang-top_z-border {
		width: 314px;
		height: 314px;
		border: 16px solid var(--color-purple);
	}
	
	.lang-top_z-text {
		font-size: 280px;
		line-height: 170px;
		top: 64px;
		left: 56px;;
	}
	
	.lang-bottom_s-border {
		width: 314px;
		height: 314px;
		border: 16px solid var(--color-blue);
	}
	
	.lang-bottom_s-text {
		font-size: 280px;
		line-height: 170px;
		top: 64px;
		left: 24px;
	}
	
	.lang-bottom_k-border {
		width: 314px;
		height: 314px;
		border: 16px solid var(--color-orange);
	}
	
	.lang-bottom_k-text {
		font-size: 280px;
		line-height: 170px;
		top: 64px;
		left: 56px;
	}

	.row-4__dots-border {
		width: 314px;
		height: 314px;
		border: 16px solid var(--color-pink);
	}
	
	.row-4__dots-image {
		width: 44px;
		height: 192px;
		top: 48px;
		left: 120px;
	}
	
	.row-4__semicircle {
		width: 314px;
		height: 314px;
		border: 16px solid var(--color-blue);
	}
	
	.row-4__semicircle-image {
		width: 60px;
		height: 182px;
		top: 48px;
		left: 108px;
	}
	
	.row-4__question-border {
		width: 738px;	
		height: 314px;
		border: 16px solid var(--color-purple);
	}
	
	.row-4__question-text {
		gap: 12px;
		padding-top: 32px;
		padding-left: 48px;
	}

	.row-4__question-text-heading {
		font-size: 44px;
		line-height: 51px;
	}
	
	.row-4__question-text-question {
		font-size: 28px;
		line-height: 33px;
	}
	
	.row-4__question-button {
		gap: 16px;
		padding-left: 340px;
	}
	
	.row-4__question-button-line {
		width: 232px;
		border-bottom: 8px solid var(--color-blue);
	}

	.row-4__question-button-button {
		font-size: 28px;
		line-height: 33px;
		border-radius: 16px;
		padding: 14px 40px 14px 40px;
		width: 216px;
		height: 61px;
	}
	
	.row-5__left {
		width: 683px;
		height: 626px;
		border: 16px solid var(--color-green);
	}
	
	.row-5__left-head {
		width: 324px;
		height: 324px;
		top: 135px;
		left: 164px;
	} 
	
	.row-5__left-mouth {
		width: 88px;
		height: 36px; 
		top: 344px;
		left: 284px;
	}
	
	.row-5__left-nose {
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 32px solid var(--color-pink);
		top: 284px;
		left: 310px;
	}
	
	.row-5__left-eye-left {
		width: 84px;
		height: 34px; 
		top: 240px;
		left: 208px;
	}
	
	.row-5__left-eye-right {
		width: 84px;
		height: 34px; 
		top: 240px;
		right: 208px;
	}
	
	.row-5__righ {
		width: 683px;
		height: 626px;
		border: 16px solid var(--color-blue);
	}
	
	.row-5__right-head {
		width: 324px;
		height: 324px;
		top: 135px;
		left: 164px;
	} 
	
	.row-5__right-mouth {
		width: 88px;
		height: 36px; 
		top: 344px;
		left: 284px;
	}
	
	.row-5__right-nose {
		width: 36px; 
		height: 36px;
		top: 284px;
		left: 308px;
	}
	
	.row-5__right-eye-left {
		width: 84px;
		height: 34px; 
		top: 240px;
		left: 208px;
	}
	
	.row-5__right-eye-right {
		width: 84px;
		height: 34px; 
		top: 240px;
		right: 208px;
	}
	/* Main end */

	/* Footer start */
	.footer__about {
		width: 341px;
		height: 313px;
		border: 16px solid var(--color-purple);
	}

	.footer__about-text {
		font-size: 44px;
		line-height: 51px;
		padding-top: 114px;
		padding-left: 24px;
	}

	.footer__author {
		width: 341px;
		height: 313px;
		border: 16px solid var(--color-orange);
	}

	.footer__author-text {
		font-size: 44px;
		line-height: 51px;
		padding-top: 88px;
		padding-left: 24px;
	}

	.footer__group {
		width: 342px;
		height: 313px;
		border: 16px solid var(--color-pink);
	}

	.footer__group-text {
		font-size: 44px;
		line-height: 51px;
		padding-top: 116px;
		padding-left: 24px;
	}

	.footer__inst {
		width: 342px;
		height: 313px;
		border: 16px solid var(--color-green);
	}

	.footer__inst-text {
		font-size: 44px;
		line-height: 51px;
		padding-top: 62px;
		padding-left: 24px;
	}
	/* Footer end */
}

@media (max-width: 1280px) {
	/* Header start */
	.header__logo {
		width: 694px;
		height: 294px;
	}

	.header__logo-image {
		width: 400px;
		height: 177px;
		top: 68px;
		left: 152px;
	}

	.header__logo-circle-1 {
		left: 24px;
		top: 24px;
		width: 26px;
		height: 26px;
	}
	
	.header__logo-circle-2 {
		left: 102px;
		top: 26px;
		width: 26px;
		height: 26px;
	}
	
	.header__logo-circle-3 {
		left: 187px;
		top: 18px;
		width: 26px;
		height: 26px;
	}
	
	.header__logo-circle-4 {
		left: 264px;
		top: 17px;
		width: 26px;
		height: 26px;
	}
	
	.header__logo-circle-5 {
		left: 346px;
		top: 18px;
		width: 26px;
		height: 26px;
	}
	
	.header__logo-circle-6 {
		left: 438px;
		top: 25px;
		width: 26px;
		height: 26px;
	}
	
	.header__logo-circle-7 {
		left: 516px;
		top: 18px;
		width: 26px;
		height: 26px;
	}
	
	.header__logo-circle-8 {
		left: 592px;
		top: 26px;
		width: 26px;
		height: 26px;
	}

	.header__paw {
		width: 293px;
		height: 294px;
		border: 16px solid var(--color-blue);
	}

	.header__paw-image {
		width: 204px;
		height: 174px;
		top: 44px;
		left: 29px;
	}

	.header__tail {
		width: 293px;
		height: 294px;
		border: 16px solid var(--color-green);
	}

	.header__tail-image {
		width: 124px;
		height: 191px;
		top: 36px;
		left: 68px;
	}
	/* Header end */

	/* Main start */
	.row-1__lang-border {
		width: 293px;
		height: 588px;
		border: 16px solid var(--color-blue);
	}

	.row-1__lang-text {
		font-size: 118px;
		line-height: 138px;
		top: 204px;
		left: -24px;
	}

	.row-1__dog-border {
		border: 16px solid var(--color-purple);
		width: 694px;
		height: 588px;
	}

	.row-1__dog-nose {
		width: 72px;
		height: 62px;
		left: 113px;
		top: 290px;
	}
	
	.row-1__dog-head {
		width: 138px;
		height: 136px;
		top: 216px;
		left: 185px;
	}
	
	.row-1__dog-ear {
		width: 42px;
		height: 62px;
		top: 154px;
		left: 281px;
	}
	
	.row-1__dog-eye {
		width: 26px;
		height: 45px;
		top: 242px;
		left: 225px;
	}
	
	.row-1__dog-body {
		width: 224px;
		height: 118px;
		top: 285px;
		left: 323px;
	}
	
	.row-1__dog-tail {
		width: 32px;
		height: 248px;
		top: 84px;
		left: 547px;
	}
	
	.row-1__dog-front-paw {
		width: 32px;
		height: 106px;
		top: 403px;
		left: 323px;
	}
	
	.row-1__dog-hind-paw {
		width: 32px;
		height: 106px;
		top: 403px;
		left: 515px;
	}

	.row-1__study-border {
		width: 293px;
		height: 588px;
		border: 16px solid var(--color-orange);
	}

	.row-1__study-text {
		font-size: 118px;
		line-height: 138px;
		top: 220px;
		left: -80px;
	}

	.row-2__bone {
		width: 320px;
		height: 293px;
		border: 16px solid var(--color-green);
	}
	
	.row-2__bone-image {
		width: 185px;
		height: 184px;
		top: 38px;
		left: 52px;
	}
	
	.row-2__translate {
		width: 320px;
		height: 293px;
		border: 16px solid var(--color-pink);
	}
	
	.row-2__translate-image {
		width: 140px;
		height: 183px;
		top: 39px;
		left: 74px;
	}
	
	.row-2__tongue {
		width: 320px;
		height: 293px;
		border: 16px solid var(--color-blue);
	}
	
	.row-2__tongue-image {
		width: 217px;
		height: 100px;
		top: 80px;
		left: 35px;
	}
	
	.row-2__dog {
		width: 320px;
		height: 293px;
		border: 16px solid var(--color-pink);
	}
	
	.row-2__dog-image {
		width: 186px;
		height: 177px;
		top: 42px;
		left: 51px;
	}

	.row-3__study-border {
		width: 293px;
		height: 588px;
		border: 16px solid var(--color-orange);
	}
	
	.row-3__study-text {
		font-size: 118px;
		line-height: 138px;
		top: 208px;
		right: -96px;
	}
	
	.row-3__elements-border {
		width: 400px;
		height: 588px;
		border: 16px solid var(--color-green);
	}
	
	.row-3__elements-dots {
		width: 52px;
		height: 224px;
		top: 32px;
		left: 152px;
	}
	
	.row-3__elements-semicircle {
		width: 66px;
		height: 188px;
		top: 308px;
		left: 156px;
	}
	
	.lang-top_i-border {
		width: 293px;
		height: 294px;
		border: 16px solid var(--color-blue);
	}
	
	.lang-top_i-text {
		font-size: 260px;
		line-height: 150px;
		top: 64px;
		left: 48px;
	}
	
	.lang-top_z-border {
		width: 294px;
		height: 294px;
		border: 16px solid var(--color-purple);
	}
	
	.lang-top_z-text {
		font-size: 260px;
		line-height: 150px;
		top: 64px;
		left: 56px;;
	}
	
	.lang-bottom_s-border {
		width: 293px;
		height: 294px;
		border: 16px solid var(--color-blue);
	}
	
	.lang-bottom_s-text {
		font-size: 260px;
		line-height: 150px;
		top: 64px;
		left: 24px;
	}
	
	.lang-bottom_k-border {
		width: 294px;
		height: 294px;
		border: 16px solid var(--color-orange);
	}
	
	.lang-bottom_k-text {
		font-size: 260px;
		line-height: 150px;
		top: 64px;
		left: 56px;
	}

	.row-4__dots-border {
		width: 293px;
		height: 293px;
		border: 16px solid var(--color-pink);
	}
	
	.row-4__dots-image {
		width: 36px;
		height: 168px;
		top: 44px;
		left: 112px;
	}
	
	.row-4__semicircle {
		width: 293px;
		height: 293px;
		border: 16px solid var(--color-blue);
	}
	
	.row-4__semicircle-image {
		width: 56px;
		height: 172px;
		top: 44px;
		left: 104px;
	}
	
	.row-4__question-border {
		width: 694px;	
		height: 293px;
		border: 16px solid var(--color-purple);
	}
	
	.row-4__question-text {
		gap: 12px;
		padding-top: 32px;
		padding-left: 48px;
	}

	.row-4__question-text-heading {
		font-size: 40px;
		line-height: 47px;
	}
	
	.row-4__question-text-question {
		font-size: 24px;
		line-height: 28px;
	}
	
	.row-4__question-button {
		gap: 16px;
		padding-left: 340px;
	}
	
	.row-4__question-button-line {
		width: 228px;
		border-bottom: 8px solid var(--color-blue);
	}

	.row-4__question-button-button {
		font-size: 26px;
		line-height: 30px;
		border-radius: 16px;
		padding: 14px 40px 14px 40px;
		width: 204px;
		height: 58px;
	}
	
	.row-5__left {
		width: 640px;
		height: 588px;
		border: 16px solid var(--color-green);
	}
	
	.row-5__left-head {
		width: 298px;
		height: 298px;
		top: 129px; 
		left: 155px;
	} 
	
	.row-5__left-mouth {
		width: 80px;
		height: 32px; 
		top: 324px;
		left: 268px;
	}
	
	.row-5__left-nose {
		border-left: 18px solid transparent;
		border-right: 18px solid transparent;
		border-bottom: 30px solid var(--color-pink);
		top: 264px;
		left: 292px;
	}
	
	.row-5__left-eye-left {
		width: 78px;
		height: 32px; 
		top: 228px;
		left: 198px;
	}
	
	.row-5__left-eye-right {
		width: 78px;
		height: 32px; 
		top: 228px;
		right: 198px;
	}
	
	.row-5__righ {
		width: 640px;
		height: 588px;
		border: 16px solid var(--color-blue);
	}
	
	.row-5__right-head {
		width: 298px;
		height: 298px;
		top: 129px; 
		left: 155px;
	} 
	
	.row-5__right-mouth {
		width: 80px;
		height: 32px; 
		top: 324px;
		left: 268px;
	}
	
	.row-5__right-nose {
		width: 32px; 
		height: 32px;
		top: 270px;
		left: 294px;
	}
	
	.row-5__right-eye-left {
		width: 78px;
		height: 32px; 
		top: 228px;
		left: 198px;
	}
	
	.row-5__right-eye-right {
		width: 78px;
		height: 32px; 
		top: 228px;
		right: 198px;
	}
	/* Main end */

	/* Footer start */
	.footer__about {
		width: 320px;
		height: 293px;
		border: 16px solid var(--color-purple);
	}

	.footer__about-text {
		font-size: 40px;
		line-height: 47px;
		padding-top: 106px;
		padding-left: 24px;
	}

	.footer__author {
		width: 320px;
		height: 293px;
		border: 16px solid var(--color-orange);
	}

	.footer__author-text {
		font-size: 40px;
		line-height: 47px;
		padding-top: 82px;
		padding-left: 24px;
	}

	.footer__group {
		width: 320px;
		height: 293px;
		border: 16px solid var(--color-pink);
	}

	.footer__group-text {
		font-size: 40px;
		line-height: 47px;
		padding-top: 107px;
		padding-left: 24px;
	}

	.footer__inst {
		width: 320px;
		height: 293px;
		border: 16px solid var(--color-green);
	}

	.footer__inst-text {
		font-size: 40px;
		line-height: 47px;
		padding-top: 58px;
		padding-left: 24px;
	}
	/* Footer end */
}

@media (max-width: 1024px) {
	/* Header start */
	.header__logo {
		width: 756px;
		height: 268px;
		border: 14px solid var(--color-orange)
	}

	.header__logo-image {
		width: 400px;
		height: 177px;
		top: 64px;
		left: 196px;
	}

	.header__logo-circle-1 {
		left: 64px;
		top: 28px;
		width: 26px;
		height: 26px;
	}
	
	.header__logo-circle-2 {
		left: 143px;
		top: 28px;
		width: 26px;
		height: 26px;
	}
	
	.header__logo-circle-3 {
		left: 228px;
		top: 22px;
		width: 26px;
		height: 26px;
	}
	
	.header__logo-circle-4 {
		left: 304px;
		top: 21px;
		width: 26px;
		height: 26px;
	}
	
	.header__logo-circle-5 {
		left: 386px;
		top: 22px;
		width: 26px;
		height: 26px;
	}
	
	.header__logo-circle-6 {
		left: 477px;
		top: 27px;
		width: 26px;
		height: 26px;
	}
	
	.header__logo-circle-7 {
		left: 557px;
		top: 22px;
		width: 26px;
		height: 26px;
	}
	
	.header__logo-circle-8 {
		left: 637px;
		top: 25px;
		width: 26px;
		height: 26px;
	}

	.header__paw {
		width: 268px;
		height: 268px;
		border: 14px solid var(--color-blue);
	}

	.header__paw-image {
		width: 188px;
		height: 160px;
		top: 38px;
		left: 24px;
	}

	.header__tail {
		display: none;
	}

	.header__tail-image {
		display: none;
	}
	/* Header end */

	/* Main start */
	.row-1__lang-border {
		width: 420px;
		height: 520px;
		border: 14px solid var(--color-blue);
	}

	.row-1__lang-text {
		font-size: 96px;
		line-height: 112px;
		top: 204px;
		left: 116px;
		color: var(--color-green);
	}

	.row-1__lang-text::before {
		content: 'Изучай';
		display: block;
		position: absolute;
		top: -108px;
		right: -58px;
	}

	.row-1__dog-border {
		border: 14px solid var(--color-purple);
		width: 604px;
		height: 520px;
	}

	.row-1__dog-nose {
		width: 65px;
		height: 55px;
		left: 85px;
		top: 266px;
	}
	
	.row-1__dog-head {
		width: 124px;
		height: 122px;
		top: 199px;
		left: 150px;
	}
	
	.row-1__dog-ear {
		width: 38px;
		height: 56px;
		top: 143px;
		left: 236px;
	}
	
	.row-1__dog-eye {
		width: 24px;
		height: 40px;
		top: 221px;
		left: 180px;
	}
	
	.row-1__dog-body {
		width: 200px;
		height: 105px;
		top: 261px;
		left: 274px;
	}
	
	.row-1__dog-tail {
		width: 28px;
		height: 222px;
		top: 82px;
		left: 474px;
	}
	
	.row-1__dog-front-paw {
		width: 30px;
		height: 95px;
		top: 366px;
		left: 274px;
	}
	
	.row-1__dog-hind-paw {
		width: 30px;
		height: 95px;
		top: 366px;
		left: 444px;
	}

	.row-1__study-border {
		display: none;
	}

	.row-1__study-text {
		display: none;
	}

	.main-row-2 {
		display: grid;
		grid-template-columns: 512px 512px;
		grid-template-rows: 512px 512px;
		
	}

	.row-2__bone {
		width: 512px;
		height: 512px;
		border: 14px solid var(--color-green);
	}
	
	.row-2__bone-image {
		width: 316px;
		height: 314px;
		top: 86px;
		left: 84px;
	}
	
	.row-2__translate {
		width: 512px;
		height: 512px;
		border: 14px solid var(--color-pink);
	}
	
	.row-2__translate-image {
		width: 265px;
		height: 346px;
		top: 69px;
		left: 109px;
	}
	
	.row-2__tongue {
		width: 512px;
		height: 512px;
		border: 14px solid var(--color-blue);
	}
	
	.row-2__tongue-image {
		width: 360px;
		height: 166px;
		top: 159px;
		left: 62px;
	}
	
	.row-2__dog {
		width: 512px;
		height: 512px;
		border: 14px solid var(--color-pink);
	}
	
	.row-2__dog-image {
		width: 306px;
		height: 291px;
		top: 96px;
		left: 89px;
	}

	.row-3__study-border {
		width: 244px;
		height: 880px;
		border: 14px solid var(--color-orange);
	}
	
	.row-3__study-text {
		font-size: 118px;
		line-height: 138px;
		top: 360px;
		right: -116px;
	}
	
	.row-3__elements-border {
		width: 560px;
		height: 880px;
		border: 14px solid var(--color-green);
	}
	
	.row-3__elements-dots {
		width: 80px;
		height: 320px;
		top: 48px;
		left: 232px;
	}
	
	.row-3__elements-semicircle {
		width: 88px;
		height: 280px;
		top: 424px;
		left: 216px;
	}

	.row-3__lang {
		display: flex;
		flex-direction: column;
	}
	
	.row-3__lang-top {
		display: flex;
		flex-direction: column;
	}

	.row-3__lang-bottom {
		display: flex;
		flex-direction: column;
	}
	
	.lang-top_i-border {
		width: 220px;
		height: 220px;
		border: 14px solid var(--color-blue);
	}
	
	.lang-top_i-text {
		font-size: 200px;
		line-height: 100px;
		top: 52px;
		left: 40px;
	}
	
	.lang-top_z-border {
		width: 220px;
		height: 220px;
		border: 14px solid var(--color-purple);
	}
	
	.lang-top_z-text {
		font-size: 200px;
		line-height: 100px;
		top: 52px;
		left: 40px;
	}
	
	.lang-bottom_s-border {
		width: 220px;
		height: 220px;
		border: 14px solid var(--color-blue);
	}
	
	.lang-bottom_s-text {
		font-size: 200px;
		line-height: 100px;
		top: 52px;
		left: 16px;
	}
	
	.lang-bottom_k-border {
		width: 220px;
		height: 220px;
		border: 14px solid var(--color-orange);
	}
	
	.lang-bottom_k-text {
		font-size: 200px;
		line-height: 100px;
		top: 52px;
		left: 40px;
	}

	.row-4__dots-border {
		display: none;
	}
	
	.row-4__dots-image {
		display: none;
	}
	
	.row-4__semicircle {
		width: 330px;
		height: 330px;
		border: 14px solid var(--color-blue);
	}
	
	.row-4__semicircle-image {
		width: 64px;
		height: 198px;
		top: 52px;
		left: 120px;
	}
	
	.row-4__question-border {
		width: 694px;	
		height: 330px;
		border: 16px solid var(--color-purple);
	}
	
	.row-4__question-text {
		gap: 12px;
		padding-top: 48px;
		padding-left: 48px;
	}

	.row-4__question-text-heading {
		font-size: 40px;
		line-height: 47px;
	}
	
	.row-4__question-text-question {
		font-size: 24px;
		line-height: 28px;
	}
	
	.row-4__question-button {
		gap: 20px;
		padding-left: 340px;
	}
	
	.main-row-5 {
		display: flex;
		flex-direction: column;
	}

	.row-5__left {
		width: 1024px;
		height: 880px;
		border: 14px solid var(--color-green);
	}
	
	.row-5__left-head {
		width: 568px;
		height: 568px;
		top: 142px; 
		left: 214px;
	} 
	
	.row-5__left-mouth {
		width: 164px;
		height: 68px; 
		top: 498px;
		left: 420px;
	}
	
	.row-5__left-nose {
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-bottom: 52px solid var(--color-pink);
		top: 380px;
		left: 472px;
	}
	
	.row-5__left-eye-left {
		width: 140px;
		height: 58px; 
		top: 308px;
		left: 286px;
	}
	
	.row-5__left-eye-right {
		width: 140px;
		height: 58px; 
		top: 308px;
		right: 286px;
	}
	
	.row-5__righ {
		width: 1024px;
		height: 880px;
		border: 14px solid var(--color-blue);
	}
	
	.row-5__right-head {
		width: 568px;
		height: 568px;
		top: 142px; 
		left: 214px;
	} 
	
	.row-5__right-mouth {
		width: 164px;
		height: 68px; 
		top: 498px;
		left: 420px;
	}
	
	.row-5__right-nose {
		width: 64px; 
		height: 64px;
		top: 386px;
		left: 468px;
	}
	
	.row-5__right-eye-left {
		width: 140px;
		height: 58px; 
		top: 308px;
		left: 286px;
	}
	
	.row-5__right-eye-right {
		width: 140px;
		height: 58px; 
		top: 308px;
		right: 286px;
	}
	/* Main end */

		/* Footer start */
	.footer {
		display: grid;
		grid-template-columns: 512px 512px;
		grid-template-rows: 512px 512px;
	}

	.footer__about {
		width: 512px;
		height: 512px;
		border: 14px solid var(--color-purple);
	}

	.footer__about-text {
		font-size: 84px;
		line-height: 98px;
		padding-top: 195px;
		padding-left: 47px;
	}

	.footer__author {
		width: 512px;
		height: 512px;
		border: 14px solid var(--color-orange);
	}

	.footer__author-text {
		font-size: 84px;
		line-height: 98px;
		padding-top: 143px;
		padding-left: 78px;
	}

	.footer__group {
		width: 512px;
		height: 512px;
		border: 14px solid var(--color-pink);
	}

	.footer__group-text {
		font-size: 84px;
		line-height: 98px;
		padding-top: 195px;
		padding-left: 36px;
	}

	.footer__inst {
		width: 512px;
		height: 512px;
		border: 14px solid var(--color-green);
	}

	.footer__inst-text {
		font-size: 84px;
		line-height: 98px;
		padding-top: 92px;
		padding-left: 76px;
	}
/* Footer end */
}

